@font-face{
  font-family: "BerlinSansFBRegular";
  src: url("../fonts/BerlinSansFBRegular.ttf");
}
@font-face{
  font-family:"Calibri";
  src: url('../fonts/Calibri.ttf');
}
html{
  height:100%;
  width:100%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img{
  width:100%;
  height:100%;
}
body{
  height:100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: #668100;
}
.card{
  margin: auto;
}
.container{
  padding: 0;
}
ul{
  display:flex;
  justify-content: space-around;
}
li{
  text-align: center;
  list-style: none;
  font-size: 1em;
  background-color:lightgray;
  border-radius: .25rem;
  width: 10em;
  margin: 2%;
  padding: 2%;
}
#cont{
  font-size : 2em;
  font-family: "BerlinSansFBRegular";
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color:#668100;
}
label{
  font-family: "BerlinSansFBRegular";
  color:#668100;
  font-size:1.5em;
  margin-left: 5%;
}
/* 
#quiz{
  width: 70%;
  height: 100%;
  background-color:#845d1a;
  display : block;
  text-align: center;
}

li{
  list-style: none;
  font-size: 1em;
}

#cont{
  font-size : 2em;
  margin-top: 20%
}

#suivant{
  float: right;
  margin-right: 50px;
} */